@font-face {
	font-family: "Flaticon";
	src: url("./fonts/flaticon.eot");
	src: url("./fonts/flaticon.eot#iefix") format("embedded-opentype"),
		url("./fonts/flaticon.woff") format("woff"),
		url("./fonts/flaticon.ttf") format("truetype"),
		url("./fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 50px;
	font-style: normal;
	color: #0d6efd;

}



.flaticon-clock:before {
	content: "\f100";
}

.flaticon-gps:before {
	content: "\f101";
}

.flaticon-interface:before {
	content: "\f102";
}

.flaticon-telephone:before {
	content: "\f103";
}